//**
// Homepage
//**

body {
  margin: 0;
}

canvas {
  border: 1px solid black;
  position: fixed;
  z-index: -1;
}


// Responsive styles if needed
// @include responsive($big-break) {
// }
// @include responsive($small-break) {
// }

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
