//**
// Homepage
//**

body {
  margin: 0;
  padding: 0;
  font-family: 'Gloria Hallelujah', cursive;
}

canvas {
  position: fixed;
  z-index: -1;
}

main {
  width:100%;
  height:100%;
  position: absolute;
  padding: 0;
  text-align: center;
  margin-left: 0!important;

}

.section4 {
  flex: 0 0 auto;
  max-height:100%;
  width:33.3333%;
  margin: 0;
  padding: 0;
  transition: .2s ease-in-out;
  
  &:hover {
    background: rgba(150,150,150,.3);
  }
  
  h1 {
    line-height: 50vh;
    margin: auto;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: .1em;
    transition: .2s ease-in-out;

    &:hover {
      font-size: 4.6em;
    }
  }
}


// Responsive styles if needed
// @include responsive($big-break) {
// }
// @include responsive($small-break) {
// }

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
