//**
// Navigation
//**

nav {
  text-align: center;
  padding-top: 1em;
  
  a {
    display: inline-block;
    padding: 10px 20px;
    background: rgba(100,100,100,.5);
    border-radius: 1em;
    color:white;
    text-decoration: none;
    border:3px solid transparent;

    &:hover {
      color:#444;
      background: rgba(241, 239, 239);
      border:3px solid rgba(100,100,100,.9);
    }
  }
}
